body{
    background-color: black;
}
img{
    height:200px;
    display:inline-block;
    margin-bottom: -5px;
}
.Pic1{
    margin-right: -4px;
}
.Pic2{
    margin-right: -5px;
}
div{
    margin-top:200px;
    margin-left: 710px;
    border:5px solid white;
    width:296px;
}
h1{
    color:white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
}
p{
    color:white;
    text-align: center;
    font-family: "Libre Baskerville", serif;
    font-weight: 10;
    font-size:small
}